// .buttons_wrapper
//   margin-top: 40px
//   display: flex
//   justify-content: flex-start
//   gap: 50px

.btn
  min-width: 315px
  min-height: 72px
  display: block

  margin: 0 auto
  padding: 0 15px
  cursor: pointer
  border: none

  border-radius: 4px
  background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%)

  color: #fff
  text-align: center
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22)
  font-size: 21px
  font-style: normal
  font-weight: 400
  line-height: normal
  text-transform: uppercase
  &:hover
    // text-decoration: none
    // color: $main-color
